.header {
    display: inline;
    padding: 30px;
    height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 30px;
}